$white: #FCFCFC; // white color
$deep-white: #e6e6e6; // white color
$black: #000; // white color
$dark: #1A1D1F; // white color
$lite-dark: #2f353a; // white color
$dark-body: #111315; // white color
$gray: #EFEFEF; // white color
$lite-gray: #6b6f74; // white color
$deeper-gray: #272B30; // white color
$deep-gray: #b5b9c0; // white color
$blue: #0066ff; // white color
